.jumbotron {
  padding-top: 40px;
  background-color: #c4d8fc;
}

#project {
  background-color: #c4d8fc;
}

.gambar img {
  width: auto;
  height: 300px;
}

.logo img {
  width: 50px;
  height: 50px;
}

footer {
  background-color: #c4d8fc;
}

section{
  padding-top: 4rem;
}

/* 
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 L 0,225 C 66.86087255238749,261.7138440398488 133.72174510477498,298.4276880796977 206,281 C 278.278254895225,263.5723119203023 355.97389213328756,192.00309172105807 433,161 C 510.02610786671244,129.99690827894193 586.3826863620749,139.55994503607005 649,174 C 711.6173136379251,208.44005496392995 760.495362418413,267.7571281346617 829,256 C 897.504637581587,244.24287186533834 985.6358639642735,161.4115424252834 1049,127 C 1112.3641360357265,92.58845757471661 1150.9611817244934,106.59670216420474 1212,131 C 1273.0388182755066,155.40329783579526 1356.5194091377534,190.20164891789761 1440,225 L 1440,600 L 0,600 Z"
    );
  }

  25% {
    d: path(
      "M 0,600 L 0,225 C 53.91137066300243,190.16798351082105 107.82274132600486,155.33596702164206 172,182 C 236.17725867399514,208.66403297835794 310.620405358983,296.82411542425285 388,317 C 465.379594641017,337.17588457574715 545.6956372380627,289.3675712813466 623,258 C 700.3043627619373,226.63242871865341 774.5970456887668,211.7055994503607 837,190 C 899.4029543112332,168.2944005496393 949.9161800068703,139.81003091721058 1006,151 C 1062.0838199931297,162.18996908278942 1123.7382342837514,213.05427688079698 1197,232 C 1270.2617657162486,250.94572311920302 1355.1308828581243,237.9728615596015 1440,225 L 1440,600 L 0,600 Z"
    );
  }

  50% {
    d: path(
      "M 0,600 L 0,225 C 79.00446581930606,217.59498454139472 158.00893163861213,210.18996908278945 215,222 C 271.9910683613879,233.81003091721055 306.9687392648575,264.835108210237 381,235 C 455.0312607351425,205.16489178976298 568.1161113019581,114.46959807626243 639,133 C 709.8838886980419,151.53040192373757 738.5668155273102,279.2864994847132 791,303 C 843.4331844726898,326.7135005152868 919.616626588801,246.3844039848849 998,246 C 1076.383373411199,245.6155960151151 1156.9666781174853,325.1758845757472 1231,335 C 1305.0333218825147,344.8241154242528 1372.5166609412572,284.9120577121264 1440,225 L 1440,600 L 0,600 Z"
    );
  }

  75% {
    d: path(
      "M 0,600 L 0,225 C 81.64273445551356,234.76159395396772 163.28546891102712,244.52318790793544 235,256 C 306.7145310889729,267.47681209206456 368.50085881140507,280.66884232222606 421,251 C 473.49914118859493,221.33115767777392 516.7110958433527,148.8014428031604 581,147 C 645.2889041566473,145.1985571968396 730.654757815184,214.1253864651323 812,266 C 893.345242184816,317.8746135348677 970.669872895912,352.69701133631054 1041,314 C 1111.330127104088,275.30298866368946 1174.665750601168,163.08656818962555 1240,136 C 1305.334249398832,108.91343181037443 1372.667124699416,166.95671590518722 1440,225 L 1440,600 L 0,600 Z"
    );
  }

  100% {
    d: path(
      "M 0,600 L 0,225 C 66.86087255238749,261.7138440398488 133.72174510477498,298.4276880796977 206,281 C 278.278254895225,263.5723119203023 355.97389213328756,192.00309172105807 433,161 C 510.02610786671244,129.99690827894193 586.3826863620749,139.55994503607005 649,174 C 711.6173136379251,208.44005496392995 760.495362418413,267.7571281346617 829,256 C 897.504637581587,244.24287186533834 985.6358639642735,161.4115424252834 1049,127 C 1112.3641360357265,92.58845757471661 1150.9611817244934,106.59670216420474 1212,131 C 1273.0388182755066,155.40329783579526 1356.5194091377534,190.20164891789761 1440,225 L 1440,600 L 0,600 Z"
    );
  }
} */
